<%- include('partials/_header') %>
<h1>Eliminar</h1>
<div class="container">
    <div class="row mt-5">
            <div class="col-md-12">
                <div class="alert alert-dismissible alert-warning">
                    <h4 class="alert-heading">¡ADVERTENCIA!</h4>
                    <p class="mb-0">¿Esta seguro de que desea eliminar toda la información relacionada con el docente?</p>
                </div>
            </div>
            <div class="d-grid gap-2 text-center">
                <form class="block" action="/delete/<%= id %>">
                    <button class="btn btn-lg btn-danger" name="eliminar" >ELIMINAR</button>
                </form>
            </div>
    </div>
</div>

<%- include('partials/_footer') %>