<%- include('partials/_header') %>
<h1>INGRESO DE NUEVA RESOLUCION AL LEGAJO</h1>
<div class="container card mt-5">
    <div class="row form-group mt-3">
        <div class="col-md-6">
            <label class="col-sm-6 col-form-label">Seccion de la resolucion:</label>
            <select class="form-select">
                <option>Seccion I:    Identificacion</option>
                <option>Seccion II:   Situacion Academica</option>
                <option>Seccion III:  Ingreso o Reingreso</option>
                <option>Seccion IV:   Trayectoria Laboral</option>
                <option>Seccion V:    Asignaciones e incentivos</option>
                <option>Seccion VI:   Retiro y Regimen pensionario</option>
                <option>Seccion VII:  Premios y Estimulos</option>
                <option>Seccion VIII: Sanciones</option>
                <option>Seccion IX:   Licencias y Vacaciones</option>
                <option>Seccion X:    Otros</option>
            </select>
            <label class="col-sm-6 col-form-label">Tipo de Resolucion</label>
            <select class="form-select">
                <option>Administrativa</option>
                <option>Ministerial</option>
                <option>Judicial</option>
            </select>
            <label class="col-sm-6 col-form-label">Fecha Inicio:</label>
            <input class="form-select" type="date">
        </div>
        <div class="col-md-6">
            <label class="col-sm-6 col-form-label">Estado de la Resolucion:</label>
            <select class="form-select">
                <option>Aprobado</option>
                <option>Pendiente</option>
                <option>Denegado</option>
            </select>
            <label class="col-sm-6 col-form-label">Regimen:</label>
            <select class="form-select">
                <option>Ley 29944</option>
                <option>Ley 26644</option>
                <option>Ley 30036</option>
                <option>Ley 27444</option>
                <option>Ley 12200</option>
            </select>
            <label class="col-sm-6 col-form-label">Fecha Fin:</label>
            <input class="form-select" type="date">
        </div>
    </div>
    <div class="row form-group mt-3">
        <div class="col-md-12">
            <label class="col-sm-6 col-form-label">Motivo:</label>
            <input type="text" class="form-control" placeholder="Ejemplo: Vacaciones">
            <label class="col-sm-6 col-form-label">Descripciones Adicionales</label><br>
            <input type="text" class="form-control form-control-lg">
        </div>
    </div>
    <div class="row mt-3">
        <div class="d-grid gap-2">
            <button class="btn btn-lg btn-success ">AÑADIR RESOLUCION AL DOCENTE</button>
        </div>
    </div>
</div>
<%- include('partials/_footer') %>