<%- include('partials/_header') %>
<h1 class="text-center">RESOLUCION CREADA</h1>
<div class="d-grid gap-2">
    <form class="d-flex justify-content-center" action="/">
        <button class="btn btn-lg btn-info" name="return" >VOLVER AL INICIO</button>
    </form>
</div>
<%- include('partials/_footer') %>